{% extends 'main.html' %}

{% block body %}
<div class='jumbotron'>
        <h1>BSUIRach - your new family</h1>
        <br />
        <h3>Teachers:</h3>
        <ul>
            {% for employee in employees %}
            <li>
                <a href='/employees/{{ employee.id }}'>
                {{ employee.lastName }}
                {{ employee.firstName }}
                {{ employee.middleName }}
                (каф. {{ employee.academicDepartment }})
                </a>
            </li>
            {% endfor %}
        </ul>
</div>
{% endblock %}
