appdirs==1.4.0
cloudinary==1.7.0
decorator==4.0.11
defusedxml==0.5.0
Django==2.2.24
django-braces==1.11.0
django-contrib-comments==1.8.0
django-model-utils==2.6.1
django-registration==2.2
django-star-ratings==0.5.4
django-taggit==0.22.0
ipython==5.2.2
ipython-genutils==0.1.0
oauthlib==2.0.2
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
psycopg2==2.6.2
ptyprocess==0.5.1
Pygments==2.2.0
PyJWT==1.5.0
pyparsing==2.1.10
python3-openid==3.1.0
requests==2.13.0
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
traitlets==4.3.1
urllib3==1.20
wcwidth==0.1.7
