{% extends 'main.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
      {% for group in groups %}
        <a href="{% url 'groups:show' number=group.number %}">
        <div class="col-lg-2 col-xs-6">
            <div class="group-card">
                <div class="faclt-logo">
                    <img src="{% static 'faculties/fksis.png' %}" alt="fksis" />
                </div>
                <div class="group-number">
                    <h2>{{ group }}</h2>
                </div>
            </div>
        </div>
        </a>
      {% endfor %}
</div>
{% endblock %}
