{% extends 'main.html' %}

{% block body %}

<div>
    <form method="post" action="/auth/login/">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        {% if login_error %}
        <label class="error">{{ login_error }}</label>
        {% endif %}
        <input class="button" type="submit" value="Войти">
        <div class="label round secondary"><a href="/auth/register/">Registration</a></div>
    </form>
</div>


{% endblock %}
