{% extends 'main.html' %}
{% load static %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-white profile-widget">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="image-container bg2" style='background-image:url("{% static 'wallpaper.jpeg' %}")'>
                            <img src="{% static 'default_avatar.png' %}" class="avatar" alt="avatar">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="details">
                            <h4>{{ user.first_name }} {{ user.last_name }}<i class="fa fa-sheild"></i></h4>
                            <div>{{ user.username }}</div>
                            <div>{{ user.email }}</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">

                    <div class="panel panel-white border-top-purple">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Story</h3>
                            <div class="controls pull-right">
                                <span class="pull-right clickable">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="body-section">
                                <h5 class="section-heading">About</h5>
                                <p class="section-content">A brief description of you</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Introduction</h5>
                                <p class="section-content">Put a little about yourself here so people know they've found the correct Kevin.</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Acheivements</h5>
                                <p class="section-content">Examples: survived high school, have 3 kids, etc.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-white border-top-light-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Schedule</h3>
                            <div class="controls pull-right">
                                <span class="pull-right clickable">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="body-section">
                                <h5 class="section-heading">Current Plan: Basic Plan</h5>
                                <ul>
                                    <li>ЛР: 512-5 ТРиТПО (Яночкин)</li>
                                    <li>ЛР: 501-5 ЦОСиИ (Третьяков)</li>
                                    <li>ЛР: 512-5 ТРиТПО (Яночкин)</li>
                                    <li>ЛР: 207-5 АКСиС (Калинин)</li>
                                    <li>ЛР: 502-5 СА (Иванов)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-white border-top-pink">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Tasks</h3>
                            <div class="controls pull-right">
                                <span class="pull-right clickable">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="body-section">
                                <h5 class="mg-top-0">Completed Pre-Orders - 90%</h5>
                                <div class="progress progress-xs">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                </div>
                            </div>
                            <div class="body-section">
                                <h5>Completed Orders - 40%</h5>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="panel panel-white border-top-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Info</h3>
                            <div class="controls pull-right">
                                <span class="pull-right clickable">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="body-section">
                                <h5 class="section-heading">Username</h5>
                                <p class="section-content"> {{ user.username }}</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">First name</h5>
                                <p class="section-content">{{ user.first_name }}</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Last name</h5>
                                <p class="section-content">{{ user.last_name }}</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Email</h5>
                                <p class="section-content">{{ user.email }}</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Date joined</h5>
                                <p class="section-content">{{ user.date_joined.isoformat }}</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Last login</h5>
                                <p class="section-content">{{ user.last_login.isoformat }}</p>
                            </div>
                            <div class="body-section">
                                <a href='/users/{{ user.username }}/edit' class='btn btn-default'>Edit</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-white border-top-orange">
                        <div class="panel-heading">
                            <h3 class="panel-title">Social Statistics</h3>
                            <div class="controls pull-right">
                                <span class="pull-right clickable">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="body-section">
                                <h5 class="section-heading">Friends</h5>
                                <p class="section-content">242</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Posts</h5>
                                <p class="section-content">2240</p>
                            </div>
                            <div class="body-section">
                                <h5 class="section-heading">Pictures</h5>
                                <p class="section-content">18</p>
                            </div>
                        </div>
                    </div>

                  {% if user.is_superuser %}
                    <div class="panel panel-white border-top-black">
                        <div class="panel-heading">
                            <h3 class="panel-title">Admin tools</h3>
                            <div class="controls pull-right">
                                <span class="pull-right clickable">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="body-section">
                                <a id="employee-updater" class="btn btn-success has-spinner">
                                    <span class="text">
                                        Update employees
                                    </span>
                                    <span class="spinner">
                                        <i class="fa fa-refresh fa-spin fa-fw"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
 $("#employee-updater").on('click', function(event) {
     $.get({
         url: "{% url 'employees:update' %}",
         beforeSend: function() {
             $("#employee-updater .text").text("Update employees");
             $("#employee-updater").toggleClass('active');
             $("#employee-updater").toggleClass('disabled');
         },
         success: function(response) {
             $("#employee-updater").toggleClass('active');
             $("#employee-updater").toggleClass('disabled');
             $("#employee-updater .text").append('&nbsp;<i class="fa fa-check" aria-hidden="true"></i>');
         }
     });
 });
</script>

{% endblock %}
