{% extends 'main.html' %}
{% load static %}

{% block body %}
     <div id="header_wrap2">
        <div id="header_wrap1">
          <div id="header" style="display: block;">
              <h1 id="title">
{{ user.first_name }}
{{ user.username }}
{{ user.last_name }} </h1>
          </div>
        </div>
      </div>
      <div id="wrap_between"></div>
      <div id="wrap3"><div id="wrap2">
  <div id="wrap1">
    <div id="content" class=""><div id="profile" class="profile_content">

  <div class="wide_column_right">
  <div class="narrow_column_wrap">
    <div class="narrow_column" id="narrow_column">
      <div class="page_block page_photo" id="">
  <div class="owner_photo_wrap actions_with_effects" id="owner_photo_wrap">
  <div class="page_avatar_wrap no_stickers_1april">

  <div id="page_avatar" class="page_avatar"><a id="profile_photo_link" href="{{ user.image.image.url }}" ><img class="page_avatar_img" src="{{ user.image.image.url }}" width="200" height="200"></a></div>
</div>
</div><div class="profile_actions">
  <div class="page_actions_wide clear_fix no_actions edit">
  <div class="page_action_left fl_l">
    <a id="profile_edit_act" href="{% url 'users:edit' username=user.username %}" class="flat_button button_wide secondary">Редактировать</a>
  </div>

</div>
</div>
</div>
    <div class="page_block" id="">
                  {% if request.user.is_superuser %}
  <div class="module clear people_module _module" id="profile_friends">
  <a href="#" class="header_right_link fl_r"  "=""></a>
<a href="#"  class="module_header">
  <h3 class="header_top clear_fix">
    <span class="header_label fl_l">Admin tools</span>
    <span class="header_count fl_l"></span>
  </h3>
</a>
  <div class="module_body clear_fix">
<div class="body-section">
    <a id="employee-updater" class="btn btn-success has-spinner">
        <span class="text">
                                        Update employees
        </span>
        <span class="spinner">
            <i class="fa fa-refresh fa-spin fa-fw"></i>
        </span>
    </a>
</div>
<div class="body-section">
    <a id="groups-updater" class="btn btn-success has-spinner">
        <span class="text">
                                        Update groups
        </span>
        <span class="spinner">
            <i class="fa fa-refresh fa-spin fa-fw"></i>
        </span>
    </a>
</div>

  </div>


</div>                  {% endif %}

</div></div>
  </div>
  <div class="wide_column_wrap">
    <div class="wide_column" id="wide_column">
      <div class="page_block" id="">
  <div id="page_info_wrap" class="page_info_wrap "><div class="page_top">
  <h4 class="profile_online"><div id="profile_online_lv">Online<b class="mob_onl profile_mob_onl unshown" id="profile_mobile_online" ></b></div> </h4>
  <h2 class="page_name">{{ user.first_name }}
{{ user.last_name }} </h2>
  <div class="page_current_info" id="page_current_info"><div id="currinfo_editor" class="page_status_editor clear" >

</div>
<div id="currinfo_wrap" tabindex="0" role="button">
  <span id="current_info" class="current_info"><span class="my_current_info"><span class="current_text">{{ user.username }}</span></span></span>
</div>
<div id="currinfo_fake" style="display: none"><span class="my_current_info"><span class="current_text">псевдо-контекст</span></span></div></div>
     </div><div class="profile_info profile_info_short" id="profile_short">
  <div class="clear_fix profile_info_row ">
  <div class="label fl_l">Группа:</div>

                            {% for group in user.group_set.all %}
  <div class="labeled"><a href="{% url 'groups:show' number=group.number %}">{{group.number}}
</a></div>
{% endfor %}
</div>
<div class="clear_fix profile_info_row ">
  <div class="label fl_l">Почта:</div>
  <div class="labeled"><a href="#" target="_blank">{{ user.email }}</a></div>
</div>
</div>
</div>

</div>
    <div class="page_block" id="">
  <div class="module clear photos_module empty _module" id="profile_photos_module">
  <div class="header_right_link fl_r" "=""></div>

</div>
</div>  <div class="page_block">

  </div>
<div class="wall_module" id="profile_wall">
  <div class="page_block">
    <h2 class="page_block_h2 ">
  <ul class="ui_tabs clear_fix " id="wall_tabs">
    <li>
  <a href="#" class="ui_tab ui_tab_sel" >
      Расписание
  </a>
    </li>

    <div class="ui_tabs_slider _ui_tabs_slider"></div>
  </ul>
</h2>
  </div><div id="submit_post_box" class="submit_post_box clear_fix _submit_post_box" >
  <div class="post_field_wrap _emoji_field_wrap">
    <div id="post_field" class="submit_post_field dark submit_post_inited"   contenteditable="true"></div>
  <div class="placeholder"><div class="ph_input"><div class="ph_content">450501</div></div></div></div>

</div>
<div id="page_wall_posts" class="wall_posts all"><input type="hidden" id="page_wall_count_all" value="3"><input type="hidden" id="page_wall_count_own" value="3">


<div id="post52875010_1922" class="_post post page_block all own" data-post-id="52875010_1922" >
  <div class="_post_content">
{% autoescape off %}
                                {{ schedule }}
                                {% endautoescape %}

  </div>

</div>
</div>

</div></div>
  </div>
</div>
</div></div>
  </div>
</div></div>
    </div>






<script type="text/javascript">
 function set_updater(name, url) {
     var updater = "#" + name + "-updater"
     $(updater).on('click', function(event) {
         $.get({
             url: url,
             beforeSend: function() {
                 $(updater + " .text").text("Update " + name);
                 $(updater).toggleClass('active');
                 $(updater).toggleClass('disabled');
             },
             success: function(response) {
                 $(updater).toggleClass('active');
                 $(updater).toggleClass('disabled');
                 $(updater + " .text").append('&nbsp;<i class="fa fa-check" aria-hidden="true"></i>');
             }
         });
     });
 }
 set_updater("employee", "{% url 'employees:update' %}");
 set_updater("groups", "{% url 'groups:update' %}");
</script>

{% endblock %}
