{% extends 'main.html' %}

{% block body %}
<div class='jumbotron'>
        <h1>BSUIRach - your new family</h1>
        <br />
        <h3>Teachers:</h3>
        <ul>
            <li>Абрамов Игорь Иванович</li>
            <li>Аваков Сергей Мирзоевич</li>
            <li>Адамович Вадим Евгеньевич</li>
            <li>Азаров Илья Сергеевич</li>
            <li>Аксенов Валерий Васильевич</li>
            <li>Аксенов Вячеслав Анатольевич</li>
            <li>Аксенчик Анатолий Владимирович</li>
            <li>Албут Анастасия Анатольевна</li>
            <li>Александров Владимир Леонидович</li>
            <li>Александрова Людмила Николаевна</li>
            <li>Алексеев Виктор Федорович</li>
            <li>Алексеев Игорь Геннадиевич</li>
            <li>Алексеев Юрий Игоревич</li>
            <li>Алефиренко Виктор Михайлович</li>
            <li>Алёхина Алина Энодиевна</li>
            <li>Алисейко Каролина Игоревна</li>
            <li>Амелин Михаил Александрович</li>
            <li>Амельченко Наталья Петровна</li>
            <li>Андреева Ольга Владимировна</li>
            <li>Андрианова Елена Вилоровна</li>
            <li>Андрос Елена Васильевна</li>
            <li>Анисимов Владимир Яковлевич</li>
            <li>Анкуда Сергей Николаевич</li>
            <li>Анохин Евгений Владимирович</li>
            <li>Антипенко Надежда Анатольевна</li>
            <li>Апанасевич Сергей Александрович</li>
            <li>Арико Иван Владимирович</li>
            <li>Артемчик Юлия Александровна</li>
            <li>Архипова Лариса Ивановна</li>
            <li>Архипова Ольга Сергеевна</li>
            <li>Асламов Андрей Павлович</li>
            <li>Асташкевич Михаил Геннадьевич</li>
            <li>Астровский Иван Иванович</li>
            <li>Атаманчук Екатерина Леонидовна</li>
            <li>Атрощенко Натэлла Александровна</li>
            <li>Афитов Эдуард Андреевич</li>
            <li>Баженова Ирина Владимировна</li>
            <li>Базанов Максим Геннадьевич</li>
            <li>Базылев Евгений Николаевич</li>
            <li>Байрак Сергей Анатольевич</li>
            <li>Бакунов Александр Михайлович</li>
            <li>Бакунова Оксана Михайловна</li>
            <li>Баранов Валентин Владимирович</li>
            <li>Барановская Елена Васильевна</li>
            <li>Баркова Елена Александровна</li>
            <li>Бархатков Антон Игоревич</li>
            <li>Басов Владимир Георгиевич</li>
            <li>Басова Янина Александровна</li>
            <li>Батин Николай Владимирович</li>
            <li>Батищев Борис Александрович</li>
            <li>Батюков Сергей Валентинович</li>
            <li>Бахтизин Вячеслав Вениаминович</li>
            <li>Бахур Наталья Ивановна</li>
            <li>Беленкевич Наталья Ивановна</li>
            <li>Белошицкий Анатолий Павлович</li>
            <li>Бельский Алексей Якимович</li>
            <li>Беляцкая Татьяна Николаевна</li>
            <li>Беляцкий Николай Петрович</li>
            <li>Бережнов Даниил Евгеньевич</li>
            <li>Березин Александр Васильевич</li>
            <li>Бересневич Андрей Игоревич</li>
            <li>Берестовский Андрей Валерьевич</li>
            <li>Беспалов Сергей Алексеевич</li>
            <li>Бибило Петр Николаевич</li>
            <li>Бильдюк Денис Михайлович</li>
            <li>Биран Сергей Андреевич</li>
            <li>Бич Надежда Александровна</li>
            <li>Бобков Юрий Юрьевич</li>
            <li>Бобов Михаил Никитич</li>
            <li>Боброва Татьяна Сергеевна</li>
            <li>Бобровничая Марина Анатольевна</li>
            <li>Богатко Иван Николаевич</li>
            <li>Богданова Елена Александровна</li>
            <li>Богомаз Виктор Лукьянович</li>
            <li>Богушевский Евгений Леонидович</li>
            <li>Боднарь Иван Васильевич</li>
            <li>Боженков Владимир Владимирович</li>
            <li>Бойправ Ольга Владимировна</li>
            <li>Болтак Светлана Владимировна</li>
            <li>Бондаренко Анна Витальевна</li>
            <li>Бондаренко Виталий Парфирович</li>
            <li>Бондарик Василий Михайлович</li>
            <li>Бондарь Людмила Антоновна</li>
            <li>Борботько Тимофей Валентинович</li>
            <li>Бордусов Сергей Валентинович</li>
            <li>Борисенко Виктор Евгеньевич</li>
            <li>Борисенко Олег Федорович</li>
        </ul>
</div>
{% endblock %}
