{% extends 'main.html' %}
{% load static %}
{% load comments %}
{% load ratings %}

{% block body %}

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-10">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-3 text-center">
                <img
                    {% if employee.photoLink %}
                       src="{{ employee.photoLink }}"
                    {% else %}
                       src="{% static 'default_avatar.png' %}"
                    {% endif %}
                    alt="лицо {{ employee.lastName }}" class="center-block img-circle img-thumbnail img-responsive">
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2>{{ employee.lastName }}
                    {{ employee.firstName }}
                    {{ employee.middleName }}</h2>
                <h5><strong><a href='https://www.bsuir.by/schedule/scheduleEmployee.xhtml?id={{ employee.bsuir_id }}'>Расписание</a></strong></h5>
                <h5><strong>Кафедра: </strong> {{ employee.academicDepartment }} </h5>
                <h5><strong>Разведка докладывает: </strong> {{ employee.description }} </h5>

            </div>
          </div>
        </div>
      </div>
      <div class='col-xs-offset-2 col-xs-8'>
          <p>{% ratings employee %}</p>
      <p>
          {% get_comment_count for employee as comment_count %}
          <strong>{{ comment_count }} comments<strong>
      </p>
      {% get_comment_list for employee as comment_list %}
      <ul class="media-list">
          {% for comment in comment_list %}
          <li class="media">
              <a href="#" class="pull-left">
                  <img src="{% static 'default_avatar.png' %}" alt="" class="img-circle" height="65" width="65">
              </a>
              <div class="media-body">
                  <span class="text-muted pull-right">
                      <small class="text-muted">{{ comment.submit_date }}</small>
                  </span>
                  <strong class="text-success">{{ comment.user_name }}</strong>
                  <p>
                      {{ comment.comment }}
                  </p>
              </div>
          </li>
          {% endfor %}
      </ul>

          {% if user.is_authenticated %}
             {% get_comment_form for employee as form %}
          <form action="{% comment_form_target %}" method="POST">
             {% csrf_token %}
              <textarea class="form-control" id="id_comment" maxlength="3000" name="comment" required></textarea>
              <input type="hidden" id="id_honeypot" name="honeypot" type="text" />
             {{ form.content_type }}
             {{ form.object_pk }}
             {{ form.timestamp }}
             {{ form.security_hash }}
              <input type="hidden" name="next" value="{% url 'employees:show' employee.id %}" />
              <input type="submit" class='btn btn-default' value="Add comment" id="id_submit" />
          </form>
          {% else %}
          <p>Please <a href="{% url 'loginsys:login' %}">log in</a> to leave a comment.</p>
          {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
