{% extends 'main.html' %}
{% load static %}
{% load comments %}
{% load ratings %}
{% load cloudinary %}

{% block body %}

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jqcloud/jqcloud-1.0.4.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'jqcloud/jqcloud.css' %}">
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-10">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-3 text-center">
                <img
                    {% if employee.photoLink %}
                       src="{{ employee.photoLink }}"
                    {% else %}
                       src="{% static 'default_avatar.png' %}"
                    {% endif %}
                    alt="лицо {{ employee.lastName }}" class="center-block img-circle img-thumbnail img-responsive">
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2>{{ employee.lastName }}
                    {{ employee.firstName }}
                    {{ employee.middleName }}</h2>
                <h5><strong><a href='https://www.bsuir.by/schedule/scheduleEmployee.xhtml?id={{ employee.bsuir_id }}'>Расписание</a></strong></h5>
                <h5><strong>Кафедра: </strong> {{ employee.academicDepartment }} </h5>
                <h5><strong>Разведка докладывает: </strong> {{ employee.description }} </h5>

            </div>
          </div>
        </div>
      </div>

    {% if employee.images.all %}
      <div class="row pictures">
            {% for image in employee.images.all %}

          <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                  <div class="caption">
                      <p class="pull-right" rel="tooltip">
                      </p>
                      <div class="clearfix"></div>
                  </div>
                  <img src="{{ image.image.url }}" alt="One second..."
                       class="img-responsive"   data-toggle="modal" data-target="#pictureModal" />

              </div>
          </div>
           {% endfor %}
      </div>

      <style type="text/css" media="screen">
          .pictures .thumbnail {
              position: relative;


              webkit-transition: all .3s cubic-bezier(.55,.08,.06,.97);
              transition: all .3s cubic-bezier(.55,.08,.06,.97);
              vertical-align: middle;
              -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .27));
              filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .27));
          }

          .pictures .thumbnail:hover {
              cursor: pointer;
              -webkit-transform: translate3d(0,-5px,0);
              transform: translate3d(0,-5px,0);
              -webkit-filter: drop-shadow(0 21px 16px rgba(0, 0, 0, .18));
              filter: drop-shadow(0 21px 16px rgba(0, 0, 0, .18));
          }

          .pictures .caption {
              bottom: calc(100% - 60px);
              left: calc(100% - 60px);
              position: absolute;
          }

          #pictureModal img {
              margin-left: auto;
              margin-right: auto;
          }
      </style>

      <script type="text/javascript">
       $("div.pictures div div img").click(function (event) {
        var modal_body = $("#pictureModal div div div.modal-body");
           modal_body.empty();
           var picture = $(event.target).clone();
           modal_body.append(picture);
       });
      </script>

    {% else %}
      <p>No images are available. </p>
    {% endif %}

      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  +
      </button>
          <hr/>
      <div class='col-xs-offset-2 col-xs-8'>

        {% if employee.memes %}
          Memes:
          <div id='memes-cloud' style="width: 550px; height: 150px;"></div>

          <script type="text/javascript">
           $("#memes-cloud").jQCloud([
              {% for meme in employee.memes %}
                 {text: '{{ meme }}' },
              {% endfor %}
           ]);
          </script>
        {% else %}
          <p>No memes :(</p>
        {% endif %}
          <hr/>
        {% if employee.tags.exists %}
          <p>Tags:
            {% for tag in employee.tags.all %}
              <div class='tag'> {{ tag }} </div>
            {% endfor %}
          </p>
          <style type="text/css" media="screen">
              .tag {
                  border-radius: 16px;
                  padding: 3px 6px;
                  font-size: 13px;
                  line-height: 27px;
                  display: inline-block;
                  height: 25px;
                  color: rgba(0,0,0,0.6);
                  padding: 0 12px;
                  background-color: #E4E4E4;
              }
          </style>
        {% else %}
          <p>No tags here</p>
        {% endif %}



          <p>{% ratings employee %}</p>
          <p>
          {% get_comment_count for employee as comment_count %}
              <strong>{{ comment_count }} comments<strong>
          </p>
      {% get_comment_list for employee as comment_list %}
          <ul class="media-list">
          {% for comment in comment_list %}
              <li class="media">
                  <a href="#" class="pull-left">
                      <img src="{% static 'default_avatar.png' %}" alt="" class="img-circle" height="65" width="65">
                  </a>
                  <div class="media-body">
                      <span class="text-muted pull-right">
                          <small class="text-muted">{{ comment.submit_date }}</small>
                      </span>
                      <strong class="text-success">{{ comment.user_name }}</strong>
                      <p>
                      {{ comment.comment }}
                      </p>
                  </div>
              </li>
          {% endfor %}
          </ul>


          {% if user.is_authenticated %}
             {% get_comment_form for employee as form %}
          <form action="{% comment_form_target %}" method="POST">
             {% csrf_token %}
              <textarea class="form-control" id="id_comment" maxlength="3000" name="comment" required></textarea>
              <input type="hidden" id="id_honeypot" name="honeypot" type="text" />
             {{ form.content_type }}
             {{ form.object_pk }}
             {{ form.timestamp }}
             {{ form.security_hash }}
              <input type="hidden" name="next" value="{% url 'employees:show' employee.id %}" />
              <input type="submit" class='btn btn-default' value="Add comment" id="id_submit" />
          </form>
          {% else %}
          <p>Please <a href="{% url 'loginsys:login' %}">log in</a> to leave a comment.</p>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New info</h4>
      </div>
      <div class="modal-body">

          <form action="{% url 'employees:tags_add' employee_id=employee.id %}" method="GET">
        {% csrf_token %}

              <label>Add tags:</label>

              <input type="text" class="from-control" name="tags" />

              <input type="submit" value="Submit" />
          </form>

          <hr/>
       {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

          <form action="{% url 'images:create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
              <input type="hidden" name="employee_id" value="{{ employee.id }}" />

        {{ image_form }}

              <input type="submit" value="Submit" />
          </form>

          <hr/>

          <form action="{% url 'employees:meme_add' employee_id=employee.id %}" method="GET">
        {% csrf_token %}

              <label>Add meme:</label>

              <input type="text" class="from-control" name="meme" />

              <input type="submit" value="Submit" />
          </form>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="pictureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <img class="img-responsive" alt="One second...">
        </div>
      </div>
    </div>
</div>

{% endblock %}
